<h1>Albert Shu's Application</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%=link_to "Create New User", new_user_path%>
<br><%=link_to "Show Users", users_path%>
<br><%=link_to "Create New Task", new_task_path%>
<br><%=link_to "Show Tasks", tasks_path%>